<mat-toolbar class="header">
    <span>
        <a>
            <img src="assets/imgs/crafty-purple-magic-ball-on-stand.png" alt="logo" height="32" width="28">
        </a>
    </span>
    <span class="title-group">
        <a>Madam Gennie</a>
    </span>
    <mat-nav-list class="horizontal-nav-list">
        <mat-list-item class="horizontal-nav-item">INÍCIO</mat-list-item>
        <mat-list-item class="horizontal-nav-item">JOGAR</mat-list-item>
        <mat-list-item class="horizontal-nav-item">DOCS</mat-list-item>
        <mat-list-item class="horizontal-nav-item">TUTORIAL</mat-list-item>
    </mat-nav-list>
</mat-toolbar>