<mat-toolbar class="header">
    <span>
        <a href="/">
            <img src="assets/imgs/crafty-purple-magic-ball-on-stand.png" alt="logo" height="32" width="28">
        </a>
    </span>
    <span class="title-group">
        <a>Madam Gennie</a>
    </span>
    <div class="spacer"></div>
    <a mat-button href="/" class="button-style">INÍCIO</a>
    <a mat-button href="/game" class="button-style">JOGAR</a>
    <a mat-button href="/docs" class="button-style">DOCS</a>
    <a mat-button href="/tutorial" class="button-style">TUTORIAL</a>
</mat-toolbar>